<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Full Pokedex</title>
</head>
<body>
      <h1>Here is all the pokemon we have available!</h1>
      {{#each pokemon}}
      {{!-- create a div of class pokemon summary --}}
      <div class="pokemon_summary">
            {{!-- show an image of the pokemon --}}
            <img src="{{this.img}}">
            <br>
            {{!-- show the num of the pokemon --}}
            <h4>{{this.num}}</h4>
            <br>
            {{!-- show the name of the pokemon --}}
            <h5>{{this.name}}</h5>
      </div>
      {{!-- end each statement --}}
      {{/each}}
</body>
</html>