<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Create a pokemon!</title>
</head>
<body>
      <h1>Add a pokemon to the Pokedex!</h1>
      <br>
      <form method="POST" action="/pokemons">
      Num: 
      <input type="text" name="num">
      <br>
      Name: 
      <input type="text" name="name">
      <br>
      Image: 
      <input type="text" name="img">
      <br>
      Weight: 
      <input type="text" name="weight">
      <br>
      Height: 
      <input type="text" name="height">
      <br>
      <input type="submit" value="Create new pokemon!">
      </form>
</body>
</html>