<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Create a new user!</title>
</head>
<body>
      {{!-- title for easy identification --}}
      <h1>Create a new login!</h1>
</body>
</html>